In [26]:
import numpy as np
import pandas as pd
from IPython.display import display

In [28]:
index = ["gene{:02d}".format(i) for i in range(10)]
columns = ["colA", "colB", "colC"]
data = np.random.uniform(-3, 3, (len(index), len(columns)))
df = pd.DataFrame(data, index=index, columns=columns)
df.index.name = "name"
display(df)
df.to_csv("sample1.tsv", header=True, sep="\t")

            colA      colB      colC
name
gene00 -2.067052  1.002433  1.141267
gene01 -1.754633 -0.854938 -2.865058
gene02  1.502113  0.913854  0.015743
gene03  0.223873 -1.093138 -1.689799
gene04  2.995752 -2.924062  0.142980
gene05  0.905100  1.195924 -1.253774
gene06 -2.175863  0.786769  0.595235
gene07  2.955156  2.273259 -0.718168
gene08 -1.072917 -2.737620  2.379621
gene09  2.673767  1.999504 -0.610535